@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* База */
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container{
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  
}
/* ШАПКА */

header{
  position: relative;
  /* background:linear-gradient(-43deg,#2F2F2F, #202020); */
  background-color:#000;
  padding-bottom: 80px;
  padding-top: 80px; 
  border-bottom-right-radius: 100px;
  margin-bottom: 80px;
} 
 /* меню */
 nav{
  position:fixed;
  top:0;
  z-index: 20;
  width: 100%;
  background:rgba(3,29,51, 0.65);
  user-select: none;
 }
 .navigation{
  display: flex;
  justify-content: center;
  column-gap:20px;
  padding:15px 0;
 }
 .navigation a{
  color:#FFF;
  font-size: 18px;
text-transform: uppercase;
transition: 0.5s;
 }
 /* .navigation:hover a:hover{
  color:#1782CF;
 } */
/* размытие меню */
.navigation:hover a{
  filter:blur(15px);
}
.navigation:hover a:hover{
  color:aqua;
  filter:blur(0px);
 } 
header .container{ 

  position: relative;
  z-index: 7;
}
.header-video{

  position:absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom-right-radius: 100px;
  opacity: 0.5;
}
.header-row{
  display:flex;
  column-gap:60px;
  align-items:center;
}
h1{
  
  margin-bottom: 10px;
  font-size:60px ;
  font-weight: 700;
}
.header-row img{
border-radius: 80px;
}
.header-text{
color:#fff;
}
.header-text p{
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 20px;
}
.header-btns{
  display:flex;
  column-gap:20px;
}
.btn{
  height: 48px;
  padding: 15px 25px 0px 25px;
  background-color: #000;
  border-radius:8px;
  color:#fff;
  line-height: 1;
  transition: all 0.2s ease-in;
}
.btn:hover{
  background-color: #1782CF;
}
.btn-outline{
  height: 48px;
  padding: 15px 25px 0px 25px;
  border: 1px solid #3B3B3B;
  border-radius:8px;
  color:#fff;
  line-height: 1;
  transition: all 0.2s ease-in;
}
.btn-outline:hover{
  border-color: #1782CF;
}
/* Портфолио */
.portfolio h2{
  margin-bottom: 65px;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}
.projects{
  display:flex;
  flex-direction: column;
  row-gap: 70px;
  align-items:center;
}
article{
  text-align: center;
}
article img{
  margin-bottom: 30px;
  border-radius:30px;
  transition: opacity 0.2s ease-in;
}
article img:hover{
  opacity:0.8;
}
article h3{
  font-size: 22px;
}
article a{
  text-decoration: underline;
  color:#000;
}
/*mebel*/
.section__mebel {
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.section__mebel-text {
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.section__mebel-text h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 25px;
}

.section__mebel-text p {
  color: #555555;
  max-width: 590px;
  margin: 0 auto 25px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 25px;
}

.section__mebel-text a {
  text-decoration: underline !important;
  color: black;
}

/* Contacts */

.contacts {
    padding: 80px 0;
    border-top-left-radius: 100px;
    background-color: #252525;
    color: #fff;
    margin-top: 80px;
}

.contacts-title {
    margin-bottom: 65px;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.messangers {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
} 

.messanger {
    flex-grow: 1;

    display: flex;
    column-gap: 15px;
    align-items: center;

    padding: 46px 20px;
    border-radius: 20px;
    border: 1px solid #363636;

    color: #fff;
    font-size: 20px;

    transition: background-color 0.2s ease-in;
}

.messanger:hover {
    background-color: #1E1E1E;
}
/* Footer */

.footer {
    padding: 30px 0;
    background-color: #1E1E1E;

    color: #5D5D5D;
}

.footer a {
    color: #5886A8;
}

.footer-inner {
    font-size: 14px;
    text-align: center;
}

.footer-inner p + p {
    margin-top: 15px;
}